src/__pycache__/Movimentacao.cpython-311.pyc
src/__pycache__/Movimentacao.cpython-313.pyc
src/__pycache__/Pecas.cpython-311.pyc
src/__pycache__/Pecas.cpython-313.pyc
src/__pycache__/Tabuleiro.cpython-311.pyc
src/__pycache__/Tabuleiro.cpython-313.pyc
__pycache__/Movimentacao.cpython-311.pyc
__pycache__/Pecas.cpython-311.pyc
__pycache__/Tabuleiro.cpython-311.pyc
src/__pycache__